*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.colorpicker{
  display: flex;
}
.colorpicker .block{
  width:100px;
  height:100px;
  float: left;
  margin-right:20px;
}
.active{
  border:3px solid black;
}